<div class="container-fluid">
    <div class="row">
      <div class="col-lg-9" style="border:1px solid red;">
        <div class="row">
          <div class="col-lg-4" style="min-height:300px;background-color: yellow,border: 1px red">
            <div class="card">
              <img src="../assets/images/1.png" class="card-image-top"
                style="min-height: 150px; max-height: 150px;max-width:100%;" alt="Pizza Item">
              <div class="card-body">
                <h4>Deluxe Veggie</h4>
                <span>Veg Delight - onion, capcicum, mushroom, corn & paneer</span>
              </div>
              <div class="card-footer text-center text-muted">
                <app-quantity></app-quantity>
              </div>
            </div>
          </div>
          <div class="col-lg-4" style="min-height:300px;background-color: yellow,border: 1px red">
            <div class="card">
              <img src="../assets/images/1.png" class="card-image-top"
                style="min-height: 150px; max-height: 150px;max-width:100%;" alt="Pizza Item">
              <div class="card-body">
                <h4>Deluxe Veggie</h4>
                <span>Veg Delight - onion, capcicum, mushroom, corn & paneer</span>
              </div>
              <div class="card-footer text-center text-muted">
                <app-quantity></app-quantity>
              </div>
            </div>
          </div>
          <div class="col-lg-4" style="min-height:300px;background-color: yellow,border: 1px red">
            <div class="card">
              <img src="../assets/images/1.png" class="card-image-top"
                style="min-height: 150px; max-height: 150px;max-width:100%;" alt="Pizza Item">
              <div class="card-body">
                <h4>Deluxe Veggie</h4>
                <span>Veg Delight - onion, capcicum, mushroom, corn & paneer</span>
              </div>
              <div class="card-footer text-center text-muted">
                <button class="btn btn-success" (click)="updateQuantity()">Add To Cart</button>
                <div class="input-group">
                  <input type="button" value="-" class="button-minus" data-field="quantity">
                  <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                  <input type="button" value="+" class="button-plus" data-field="quantity">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4" style="min-height:300px;background-color: yellow,border: 1px red">
            <div class="card">
              <img src="../assets/images/1.png" class="card-image-top"
                style="min-height: 150px; max-height: 150px;max-width:100%;" alt="Pizza Item">
              <div class="card-body">
                <h4>Deluxe Veggie</h4>
                <span>Veg Delight - onion, capcicum, mushroom, corn & paneer</span>
              </div>
              <div class="card-footer text-center text-muted">
                <button class="btn btn-success" (click)="updateQuantity()">Add To Cart</button>
                <div class="input-group">
                  <input type="button" value="-" class="button-minus" data-field="quantity">
                  <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                  <input type="button" value="+" class="button-plus" data-field="quantity">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4" style="min-height:300px;background-color: yellow,border: 1px red">
            <div class="card">
              <img src="../assets/images/1.png" class="card-image-top"
                style="min-height: 150px; max-height: 150px;max-width:100%;" alt="Pizza Item">
              <div class="card-body">
                <h4>Deluxe Veggie</h4>
                <span>Veg Delight - onion, capcicum, mushroom, corn & paneer</span>
              </div>
              <div class="card-footer text-center text-muted">
                <button class="btn btn-success" (click)="updateQuantity()">Add To Cart</button>
                <div class="input-group">
                  <input type="button" value="-" class="button-minus" data-field="quantity">
                  <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                  <input type="button" value="+" class="button-plus" data-field="quantity">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4" style="min-height:300px;background-color: yellow,border: 1px red">
            <div class="card">
              <img src="../assets/images/1.png" class="card-image-top"
                style="min-height: 150px; max-height: 150px;max-width:100%;" alt="Pizza Item">
              <div class="card-body">
                <h4>Deluxe Veggie</h4>
                <span>Veg Delight - onion, capcicum, mushroom, corn & paneer</span>
              </div>
              <div class="card-footer text-center text-muted">
                <button class="btn btn-success" (click)="updateQuantity()">Add To Cart</button>
                <div class="input-group">
                  <input type="button" value="-" class="button-minus" data-field="quantity">
                  <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                  <input type="button" value="+" class="button-plus" data-field="quantity">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4" style="min-height:300px;background-color: yellow,border: 1px red">
            <div class="card">
              <img src="../assets/images/1.png" class="card-image-top"
                style="min-height: 150px; max-height: 150px;max-width:100%;" alt="Pizza Item">
              <div class="card-body">
                <h4>Deluxe Veggie</h4>
                <span>Veg Delight - onion, capcicum, mushroom, corn & paneer</span>
              </div>
              <div class="card-footer text-center text-muted">
                <button class="btn btn-success" (click)="updateQuantity()">Add To Cart</button>
                <div class="input-group">
                  <input type="button" value="-" class="button-minus" data-field="quantity">
                  <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                  <input type="button" value="+" class="button-plus" data-field="quantity">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4" style="min-height:300px;background-color: yellow,border: 1px red">
            <div class="card">
              <img src="../assets/images/1.png" class="card-image-top"
                style="min-height: 150px; max-height: 150px;max-width:100%;" alt="Pizza Item">
              <div class="card-body">
                <h4>Deluxe Veggie</h4>
                <span>Veg Delight - onion, capcicum, mushroom, corn & paneer</span>
              </div>
              <div class="card-footer text-center text-muted">
                <button class="btn btn-success" (click)="updateQuantity()">Add To Cart</button>
                <div class="input-group">
                  <input type="button" value="-" class="button-minus" data-field="quantity">
                  <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                  <input type="button" value="+" class="button-plus" data-field="quantity">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4" style="min-height:300px;background-color: yellow,border: 1px red">
            <div class="card">
              <img src="../assets/images/1.png" class="card-image-top"
                style="min-height: 150px; max-height: 150px;max-width:100%;" alt="Pizza Item">
              <div class="card-body">
                <h4>Deluxe Veggie</h4>
                <span>Veg Delight - onion, capcicum, mushroom, corn & paneer</span>
              </div>
              <div class="card-footer text-center text-muted">
                <button class="btn btn-success" (click)="updateQuantity()">Add To Cart</button>
                <div class="input-group">
                  <input type="button" value="-" class="button-minus" data-field="quantity">
                  <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                  <input type="button" value="+" class="button-plus" data-field="quantity">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3" style="border: 1px solid blue; position: relative;">
        <div class="card" style="min-height: 500px;">
          <div class="card-body">
            <div class="row" style="padding: 10px; border: 1px solid purple;">
              <div class="col-lg-4"><img class="" src="../assets/images/2.png" style="min-width: 100%; max-height: 40px;"
                  alt=""></div>
              <div class="col-lg-8">
                <h5>Delux Veggie</h5>
                <span>Onion, Capcicum, Paneer, Grilled, Mushroom & Corn</span>
              </div>
            </div>
            <div class="row" style="padding: 10px; border: 1px solid purple;">
              <div class="col-lg-4"><img class="" src="../assets/images/2.png" style="min-width: 100%; max-height: 40px;"
                  alt=""></div>
              <div class="col-lg-8">
                <h5>Delux Veggie</h5>
                <span>Onion, Capcicum, Paneer, Grilled, Mushroom & Corn</span>
              </div>
            </div>
            <div class="row" style="padding: 10px; border: 1px solid purple;">
              <div class="col-lg-4"><img class="" src="../assets/images/2.png" style="min-width: 100%; max-height: 40px;"
                  alt=""></div>
              <div class="col-lg-8">
                <h5>Delux Veggie</h5>
                <span>Onion, Capcicum, Paneer, Grilled, Mushroom & Corn</span>
              </div>
            </div>
          </div>
          <div class="card-footer" style="position: absolute;width:100%;bottom: 0;">
            Order Total: 120
          </div>
        </div>
      </div>
    </div>
  </div>